<%= form_for([@match, @resource], local: true, html: { class: 'form-horizontal' }) do |f| %>
  <div class="form-group">
    <%= f.label :t1_score, "Score of #{@match.teams.first.name}" %>
    <%= f.number_field :t1_score, class: 'form-control', max: 10, min: 0 %>
    <%= f.hidden_field :t1_id, value: @match.teams.first.id %>
    <span class="error"><%=  @resource.errors.messages[:t1_score].join(' ')%></span>
  </div>
  <div class="form-group">
    <%= f.label :t2_score, "Score of #{@match.teams.last.name}" %>
    <%= f.number_field :t2_score, class: 'form-control', max: 10, min: 0 %>
    <%= f.hidden_field :t2_id, value: @match.teams.last.id %>
    <span class="error"><%=  @resource.errors.messages[:t2_score].join(' ')%></span>
  </div>
  <%= f.submit "Submit" %>
<% end %>
